<div id="<%= dom_id carro %>">
  <p>
    <strong>Descripcion:</strong>
    <%= carro.descripcion %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= carro.color %>
  </p>

  <p>
    <strong>Puertas:</strong>
    <%= carro.puertas %>
  </p>

</div>
