<% content_for :title, "Editing carro" %>

<h1>Editing carro</h1>

<%= render "form", carro: @carro %>

<br>

<div>
  <%= link_to "Show this carro", @carro %> |
  <%= link_to "Back to carros", carros_path %>
</div>
